
body {
    font-family: Arial, sans-serif;

    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    width: 767px;;
	margin: 0 auto;
}


header {
    background-color: rgb(2, 31, 2);
    padding: 20px;
    text-align: center;
    
    padding: 70px;
    color: white;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 50px;
}

header h2 {
    margin: 0;
    font-size: 28px;
}

main {
    padding: 20px;
    display: grid;
	grid-template-columns: 1fr;
	grid-gap: 5px;
	padding: 5px;
	grid-area: main;
}



img {
    width: 800px; 
    height: auto;
    margin-top: 10px;
    
}


.card {
    background-color: rgb(255, 254, 254);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h3 {
    background-color: rgb(2, 31, 2);
    color: white;
    padding: 15px;
    margin-top: 0%;
    
    
}

.card p {
    margin-bottom: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: rgb(2, 31, 2);
    padding: 20px;
    text-align: center;
    color: white;
}

footer p {
    margin: 5px 0;
}

